# Local only
PORT=8080
USE_IN_MEMORY=false
AUTH_REQUIRED=false
PUBSUB_TOPIC=todo-created
TASKS_PROJECT_ID=todolist-496821
TASKS_LOCATION=europe-central2
TASKS_QUEUE=todo-reminders
TASKS_TARGET_URL=https://YOUR_SERVICE_URL/tasks/remind
TASKS_SERVICE_ACCOUNT_EMAIL=todo-tasks-invoker@todolist-496821.iam.gserviceaccount.com
TASKS_REQUIRE_HEADER=true
TASKS_INTERNAL_TOKEN=dev-token
CLEANUP_LIMIT=100
# GOOGLE_APPLICATION_CREDENTIALS=C:\path\to\service-account.json

